*{
    margin:0;
    padding:0.0;
    font-family: 'Poppins', sans-serif;
}

.navbar-collapse a {
    font-size: 30px;
}
.openBtn {
    margin-left: 20%;
    border: none;
    padding: 15px 20px;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.openBtn:hover {
    font-weight: bold;
    border-bottom: 4px solid aqua;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 00;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 3%;
    width: 60%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    margin-right: 0px;
    right: 20px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 16px;
    font-size: 20px;
    border-radius: 12px;
    float: center;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.userBtn {
    margin-left: 2%;
    border: none;
    padding: 15px 20px;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.userBtn:hover {
    font-weight: bold;
    border-bottom: 4px solid aqua;
}

.cartBtn {
    margin-left: 2%;
    border: none;
    padding: 15px 20px;
    font-size: 120%;
    cursor: pointer;
    color: white;
}

.cartBtn:hover {
    font-weight: bold;
    border-bottom: 4px solid aqua;
}

.navbar-nav {
    margin-left: 55%;
}

.navbar-nav a {
    font-size: 150%;
}
